container_volumes/cwrc-gitserver/config/*.json
container_volumes/cwrc-gitwriter/config/*.json
container_volumes/nerve/
container_volumes/validator/

container_volumes/letsencrypt

container_volumes/traefik/*.yml
container_volumes/traefik/conf/*.yml
container_volumes/traefik/conf-dev/*.yml
container_volumes/traefik/log/

container_volumes/certs
docker-compose-dev.yml