# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-git-writer-dev:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
      service: service-git-writer-uat
      rule: Host(`gitwriter.EXAMPLE.ORG`)


  # Add the services
  services:

    service-git-writer-uat:
      loadBalancer:
        servers:
          # assumes dir name is GitWriter and Traefik part of same network as Gitwriter
          # https://stackoverflow.com/questions/38088279/communication-between-multiple-docker-compose-projects/38089080#38089080
          - url: http://gitwriter:3000/
        passHostHeader: true
