# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-git-server-dev:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
        - validator-strip-pathprefix
      service: service-git-server-uat
      rule: Host(`gitwriter.EXAMPLE.ORG`) && PathPrefix(`/validator/`)

  middlewares:
    validator-strip-pathprefix:
      stripPrefix:
        prefixes:
          - "/validator"

  # Add the services
  services:

    service-git-server-dev:
      loadBalancer:
        servers:
        # assumes dir name is GitWriter and Traefik part of same network as Gitwriter
        # https://stackoverflow.com/questions/38088279/communication-between-multiple-docker-compose-projects/38089080#38089080
        - url: http://validator:8080/
        passHostHeader: true

