# File provider: Common components

http:

  # Add the router
  routers:
    redirect:
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: service-gitwriter
      rule: Host(`YOUR.DOMAIN`)
      # For multiple entrypoints use && or ||. e.g.: Host(`YOUR.DOMAIN`) && Host(`WWW.YOUR.DOMAIN`)
      # For deep path cobine with Path() or PathPrefix(). e.g.: Host(`YOUR.DOMAIN`) && PathPrefix(`/schema/`)

  # Add the middleware
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

    secure:
      headers:
        framedeny: true
        sslredirect: true
        forceSTSHeader: true
        browserXssFilter: true

tls:
  options:
    default:
      #minVersion: VersionTLS13
      minVersion: VersionTLS12
      #sniStrict: true
