# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-gitserver:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
      service: service-gitserver
      rule: Host(`gitwriter.services.EXAMPLE.ORG`)&& (PathPrefix(`/github/`) || PathPrefix(`/schema/`))


  # Add the services
  services:

    service-gitserver:
      loadBalancer:
        servers:
          - url: http://gitserver:3000/
        passHostHeader: true

