# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-gitwriter:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
      service: service-gitwriter
      rule: Host(`gitwriter.services.EXAMPLE.ORG`)


  # Add the services
  services:

    service-gitwriter:
      loadBalancer:
        servers:
          - url: http://gitwriter:3000/
        passHostHeader: true
