# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:
    route-gitwriter:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
      service: service-gitwriter
      rule: Host(`YOUR.DOMAIN`)
      # For multiple entrypoints use && or ||. e.g.: Host(`YOUR.DOMAIN`) && Host(`WWW.YOUR.DOMAIN`)
      # For deep path combine with Path() or PathPrefix(). e.g.: Host(`YOUR.DOMAIN`) && PathPrefix(`/schema/`)

  # Add the services
  services:
    service-gitwriter:
      loadBalancer:
        servers:
          - url: http://gitwriter:3000/
        passHostHeader: true
