# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-nerve:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
        - nerve-strip-pathprefix
      service: service-nerve
      rule: Host(`gitwriter.service.EXAMPLE.ORG`) && PathPrefix(`/nerve/`)


  middlewares:
    nerve-strip-pathprefix:
      stripPrefix:
        prefixes:
          - "/nerve"


  # Add the services
  services:

    service-nerve:
      loadBalancer:
        servers:
          - url: http://nerve:8080/
        passHostHeader: true

