# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-nerve-uat:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
        - nerve-strip-pathprefix
      service: service-nerve-uat
      rule: Host(`gitwriter.service.EXAMPLE.ORG`) && PathPrefix(`/nerve/`)


  middlewares:
    nerve-strip-pathprefix:
      stripPrefix:
        prefixes:
          - "/nerve"


  # Add the services
  services:

    service-nerve-uat:
      loadBalancer:
        servers:
        # assumes dir name is GitWriter and Traefik part of same network as Gitwriter
        # https://stackoverflow.com/questions/38088279/communication-between-multiple-docker-compose-projects/38089080#38089080
        - url: http://nerve:8080/
        passHostHeader: true

