# Validator
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:
    route-validator:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
        - validator-strip-pathprefix
      service: service-validator
      rule: Host(`YOUR.DOMAIN`) && PathPrefix(`/validator/`)
      # For multiple entrypoints use && or ||. e.g.: Host(`YOUR.DOMAIN`) && Host(`WWW.YOUR.DOMAIN`)
      # For deep path combine with Path() or PathPrefix(). e.g.: Host(`YOUR.DOMAIN`) && PathPrefix(`/schema/`)

  middlewares:
    validator-strip-pathprefix:
      stripPrefix:
        prefixes:
          - "/validator"

  # Add the services
  services:
    service-validator:
      loadBalancer:
        servers:
          - url: http://validator:8080/
        passHostHeader: true
