# GitServer
# File provider: dynamically loaded routers, middleware, and providers

http:

  # Add the router
  routers:

    route-validator:
      entryPoints:
        - web-secure
      tls:
        certResolver: leresolver
      middlewares:
        - secure
        - validator-strip-pathprefix
      service: service-validator
      rule: Host(`gitwriter.services.EXAMPLE.ORG`) && PathPrefix(`/validator/`)

  middlewares:
    validator-strip-pathprefix:
      stripPrefix:
        prefixes:
          - "/validator"

  # Add the services
  services:

    service-validator:
      loadBalancer:
        servers:
          - url: http://validator:8080/
        passHostHeader: true
